github "SnapKit/SnapKit"
github "rs/SDWebImage"
github "Alamofire/Alamofire"
github "MichaelRow/MusicPlayer"
github "MichaelRow/OpenCC"
github "MichaelRow/LyricsService"
github "MichaelRow/PrefsWindowController"
