<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>LrcMaker.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>LrcSeeker.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>Lyrics.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>LyricsX Helper.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>Release.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>7613A6C51C17D1A200D7CB66</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>767D7A9F1C17BF5E00F8BCBE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>76C511581BEC6F8F0095F510</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>76C511671BEC6F8F0095F510</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>76D060411C02B8D8000DA86C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>76D0604F1C02B8D9000DA86C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
